<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GibJohn Tutoring - About Us</title>

    <link rel="stylesheet" href="/static/styles.css">
</head>

<body class="screen-center" style="background-color: rgb(187, 187, 187);">


<div class="heading">
    <h1>About Us</h1>
</div>
    

    <div class="about_us">

        <h2>GibJohn Tutoring Is The Most Immersive Learning Service</h2>

        <p>GibJohn Tutoring provides effective teaching that will guarentee all learners to reach their goals.</p>

        <p>GibJohn Tutoring uses highly educated and rated tutors to provide learners with the best teaching.</p>

        <br>

        <p>Subjects Taught:</p>

        <p>- English</p>
        <p>- Maths</p>
        <p>- Chemistry</p>
        <p>- Physics</p>
        <p>- Biology</p>
   

    </div>
</body>


<p></p>
<p></p>
<p></p>

<form
action="/logout"
name="logout"> <!--This is a form that is used to log out a user, as well as clearing session variables-->


<button class="about_us_btn" type="submit">Go Back</button>

</form>


</html>