<!DOCTYPE html>
<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Admin Page</title>

        <link rel="stylesheet" href="/static/styles.css">

    </head>

    <body style="text-align: center; background-color: rgb(187, 187, 187);">


        <h1>Admin</h1>


        <form
        action="/">
    
        <button class="goback_black" style="top: 50px; left: 50px; position: fixed" type="submit">Go Back</button>
        
        </form>

        <h3>Tutors</h3>

        {% for user in tutors %} <!--A loop used to extract all values in a database-->
        <p></p>
        <p></p>

        <tr> 
            <td class="names">{{ user.Name }}</td> 
            <td> 

                <form action="/deregister-tutor" method="post"> <!--This form uses the hidden ID to deregister content in a database-->
                    <p></p>

                    <input name="ID" type="hidden" value="{{ user.ID }}"> <!--The ID will be used to affect the intended record in the database-->
                    <p></p>

                    <button class="action_btn" type="submit">Deregister</button> 
                </form> 

                <form action="/unlock-tutor" method="post"> <!--This will send a user's hidden ID that will be used to unlock their account-->
                    <p></p>

                    <input name="ID" type="hidden" value="{{ user.ID }}">
                    <p></p>

                    <button class="action_btn" type="submit">Unlock</button>


                </form>

                <form action="/new-tutor" method="post"> <!--This will send the admin to a page to update a user's account information-->
                    <p></p>

                    <input name="ID" type="hidden" value="{{ user.ID }}">
                
                    <p></p>

                    <button class="action_btn" type="submit">Update</button>
                    
                </form>

                <form action="/deactivate-tutor" method="post"> <!--This will send the admin to a page to update a user's account information-->
                <p></p>

                <input name="ID" type="hidden" value="{{ user.ID }}">
            
                <p></p>

                <button class="action_btn" type="submit">Deactivate</button>

                </form>

                <br>

            </td> 
        </tr> 

    {% endfor %}

    <br>

        <h3>Learners</h3>

        {% for user in learners %} <!--A loop used to extract all values in a database-->
        <p></p>
        <p></p>

        <tr> 
            <td class="names">{{ user.Name }}</td> 
            <td> 

                <form action="/deregister-learner" method="post"> <!--This form uses the hidden ID to deregister content in a database-->
                    <p></p>

                    <input name="ID" type="hidden" value="{{ user.ID }}"> <!--The ID will be used to affect the intended record in the database-->
                    <p></p>

                    <button class="action_btn" type="submit">Deregister</button> 
                </form> 

                <form action="/unlock-learner" method="post"> <!--This will send a user's hidden ID that will be used to unlock their account-->
                    <p></p>

                    <input name="ID" type="hidden" value="{{ user.ID }}">
                    <p></p>

                    <button class="action_btn" type="submit">Unlock</button>


                </form>

                <form action="/new-learner" method="post"> <!--This will send the admin to a page to update a user's account information-->
                    <p></p>

                    <input name="ID" type="hidden" value="{{ user.ID }}">
                
                    <p></p>

                    <button class="action_btn" type="submit">Update</button>
                    
                </form>

                <form action="/deactivate-learner" method="post"> <!--This will send the admin to a page to update a user's account information-->
                <p></p>

                <input name="ID" type="hidden" value="{{ user.ID }}">
            
                <p></p>

                <button class="action_btn" type="submit">Deactivate</button>

                </form>

                <br>

            </td> 
        </tr> 

    {% endfor %} 
 
    </body>

    <br>

    <form
    action="/admin">


    <button class="goback_black" style="font-size: 30px;" type="submit">Back To Top Of Page</button>

    </form>

    </form>
    </html>