<!DOCTYPE html>
<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Classes/Schedule</title>

        <link rel="stylesheet" href="/static/styles.css">

    </head>

    <body class="screen-center" style="background-color: rgb(187, 187, 187);">

        <form
        action="/">
    
        <button class="update" style="top: 50px; left: 50px; position: fixed" type="submit">Go Back</button>
        
        </form>
    
        <h1 class="heading">Classes/Schedule</h1>

        <!--This is a tables used for the classes as a timetable-->

        <table>
            <tr>
                <th style="background-color: blue;">English</th>
                <th style="background-color: black;">Maths</th>
                <th style="background-color: blue;">Physics</th>
                <th style="background-color: black;">Chemistry</th>
                <th style="background-color: blue;">Biology</th>
            </tr>

            <tr style="background-color: blue;">
                <td>Next Monday at 09:30</td>
                <td>Next Thursday at 09:30</td>
                <td>Next Tuesday at 09:30</td>
                <td>Next Friday at 10:15</td>
                <td>Next Thursday at 09:30</td>
            </tr>

            <tr style="background-color: black;">
                <td>10:45 at 28/11/24</td>
                <td>11:45 at 30/11/24</td>
                <td>09:00 at 30/11/24</td>
                <td>14:00 at 25/11/24</td>
                <td>12:45 at 24/11/24</td>
            </tr>

            <tr style="background-color: blue;">
                <td>09:00 at 03/02/24</td>
                <td>09:15 at 16/02/24</td>
                <td>10:00 at 26/02/24</td>
                <td>10:30 at 07/02/24</td>
                <td>11:00 at 15/02/24</td>
            </tr>

            <tr style="background-color: black;">
                <td>08:45 at 02/03/24</td>
                <td>13:00 at 05/03/24</td>
                <td>15:00 at 17/03/24</td>
                <td>11:30 at 28/03/24</td>
                <td>14:45 at 19/03/24</td>
            </tr>

            <tr style="background-color: blue;">
                <td>10:15 at 09/04/24</td>
                <td>11:15 at 20/04/24</td>
                <td>09:45 at 07/04/24</td>
                <td>14:00 at 27/04/24</td>
                <td>10:00 at 12/04/24</td>
            </tr>

        </table>

 
    </body>


    <p></p>
    <p></p>
    <p></p>

    <form
    action="/classes">

    <button class="goback_white" style="font-size: 30px;" type="submit">Back To Top Of Page</button>

    </form>

    </html>