<!DOCTYPE html>
<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Classes/Schedule</title>

        <link rel="stylesheet" href="/static/styles.css">

    </head>

    <body class="screen-center" style="background-color: rgb(187, 187, 187);">
    
        <h1 class="heading">Classes/Schedule</h1>

        <!--This is a tables used for the classes as a timetable-->

        <table class="classes_table">
            <tr>
                <th>English</th>
                <th>Maths</th>
                <th>Physics</th>
                <th>Chemistry</th>
                <th>Biology</th>
            </tr>

            <tr>
                <td>Lesson 1</td>
                <td>Lesson 1</td>
                <td>Lesson 1</td>
                <td>Lesson 1</td>
                <td>Lesson 1</td>
            </tr>

            <tr>
                <td>Lesson 2</td>
                <td>Lesson 2</td>
                <td>Lesson 2</td>
                <td>Lesson 2</td>
                <td>Lesson 2</td>
            </tr>

            <tr>
                <td>Lesson 3</td>
                <td>Lesson 3</td>
                <td>Lesson 3</td>
                <td>Lesson 3</td>
                <td>Lesson 3</td>
            </tr>

            <tr>
                <td>Lesson 4</td>
                <td>Lesson 4</td>
                <td>Lesson 4</td>
                <td>Lesson 4</td>
                <td>Lesson 4</td>
            </tr>

            <tr>
                <td>Lesson 5</td>
                <td>Lesson 5</td>
                <td>Lesson 5</td>
                <td>Lesson 5</td>
                <td>Lesson 5</td>
            </tr>

        </table>

 
    </body>


    <p></p>
    <p></p>
    <p></p>

    <form
    action="/logout"
    name="logout"> <!--This is a form that is used to log out a user, as well as clearing session variables-->


    <button type="submit">Go Back</button>

    </form>

    </html>