<!DOCTYPE html>
<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Classes/Schedule Page</title>

        <link rel="stylesheet" href="/static/styles.css">

    </head>

    <body class="screen-center" style="background-color: rgb(187, 187, 187);">

        <form
        action="/"
        name="index"> <!--This is a form that is used to take a user back to the index page-->
    
    
        <button style="font-size: 30px;" type="submit">Go Back</button>

        </form>





        add here










        </body>
        

    <form
    action="/classes"
    name="top"> <!--This is a form that is used to take a user back to the top of the page-->


    <button style="font-size: 30px;" type="submit">Back To Top Of Page</button>

    </form>

    </html>