<!DOCTYPE html>
<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Contact Us Page</title>

        <link rel="stylesheet" href="/static/styles.css">

    </head>

    <body class="screen-center">

      
        <h1 style="font-size: 40px;">Contact Us page</h1>
                                                                                 
        <h2 style="font-size: 30px;">Contact details for Toka Fitness:</h2>

        <p style="font-size: 20px;"><b>Phone:</b> 07427397363</p>
        <br>
        <p style="font-size: 20px;"><b>Email:</b> toka_fitness@gmail.com</p>
        <br>
        <p style="font-size: 20px;"><b>Address:</b> 34 Toka Lane, Toka, Toka Fitness, TK45 8LB</p>



    </body>

    <form
    action="/logout"
    name="logout"> <!--This is a form that is used to log out a user, as well as clearing session variables-->


    <button style="font-size: 30px;" type="submit">Back To Log In Page</button>

    </form>
    
</html>
