<!DOCTYPE html>
<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="/static/wrong.jpg"> <!--This is used to show a small image icon in the tab, next to its title-->

        <title>Failure</title>

        <link rel="stylesheet" href="/static/styles.css">

    </head>

    <body class="screen-center">


        <img src="/static/wrong.jpg" style="background-repeat: no-repeat;background-position: center;">

        <h2 style="text-align: center;">Sorry, the credentials entered were invalid or empty.</h2> <!--Used as an error statement-->


    </body>

    <form
    action="/logout"
    name="logout"> <!--This is a form that is used to log out a user, as well as clearing session variables-->


    <button style="font-size: 30px;" type="submit">Log Out</button>

    </form>

    </html>