<!DOCTYPE html>
<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Account Inactive</title>

        <link rel="stylesheet" href="/static/styles.css">

    </head>

    <body class="screen-center" style="background-color: rgb(187, 187, 187);">

        <h2 style="text-align: center;">This account is currently inactive.</h2> <!--Used as an error statement-->
        <h1 style="text-align: center;">Please seek Administrator to reactivate this account.</h1>


    </body>


    <p></p>
    <p></p>
    <p></p>

    <form
    action="/logout"
    name="logout"> <!--This is a form that is used to log out a user, as well as clearing session variables-->


    <button style="font-size: 30px;" type="submit">Log Out</button>

    </form>

    </html>