<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body class="screen-center">

    <img src="/static/toka logo.jpg" rel="toka logo">

    <div style="display: flex;">
        <form 
        action="/aboutus"> <!--This will take the user to the About Us page-->
        <button style="font-size: 30px;" type="submit">About Us</button>

        </form>


        <form
        action="/contactus"> <!--This will take the user ot the Contact Us page-->
        <button style="font-size: 30px;" type="submit">Contact Us</button>    
    
        </form>
        </div>



    <!--A form that is used to gather a username and password from a user-->
    <div style="display: flex; margin-bottom: 10px; flex-direction: column; align-items: center;">
        <h3>
            You must be logged in to continue!
        </h3>
    </div>


    <div style="display: flex; justify-content: center; align-items: center; gap: 20px;">
        <form class="card" action="/home" method="post" name="login">
            <span>Login</span>
        
            <input type="text" name="Username" placeholder="Username" autofocus autocomplete="off">
            <!--Used to collect a username-->
        
            <input type="password" name="Password" placeholder="Password" autofocus autocomplete="off">
            <!--Used to collect a password-->
        
            <button type="submit">Login</button>
        </form>
    



        <p>Don't have an account?</p>
        <p>Register now! ➔</p>




            <form class="card" action="/register" method="post" name="register">
    
                <span>Register</span>
    
                <input type="text" name="Name" placeholder="Name" autofocus autocomplete="off">
                <input type="email" name="Email" placeholder="Email" autofocus autocomplete="off">
    
                <input type="text" name="Username" placeholder="Username" autofocus autocomplete="off">
                <input type="password" name="Password" placeholder="Password" autofocus autocomplete="off">
    
                <button type="submit">Register</button>
            </form>
        </div>


    
</body>

</html>
