<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body class="screen-center" style="background-image: url(/static/background.jpg); background-repeat:no-repeat; background-size: cover; font-size: 50px;">

    <h1 style="text-decoration: solid; color:white; font-size: 100px; background-color: black;">Navigation Menu</h1>


    <div style="display: flex;">
        <form 
        action="/aboutus"> <!--This will take the user to the About Us page-->
        <button class="homebutton" style="font-size: 30px;" type="submit">About Us</button>

        </form>

        <form
        action="/contactus"> <!--This will take the user ot the Contact Us page-->
        <button class="homebutton" style="font-size: 30px;" type="submit">Contact Us</button>    
    
        </form>

        </div>



    <!--A form that is used to gather a username and password from a user-->
    <div style="display: flex; margin-bottom: 10px; flex-direction: column; align-items: center;">
        <h3>
            <p style="font-size: 20px;">You must be logged in to continue!</p>
        </h3>
    </div>


    <div style="display: flex; justify-content: center; align-items: center; gap: 20px;">
        <form class="card" action="/home" method="post" name="login">
            <span>Login For Tutors</span>
        
            <input type="text" name="Username" placeholder="Username" autofocus autocomplete="off">
            <!--Used to collect a username-->
        
            <input type="password" name="Password" placeholder="Password" autofocus autocomplete="off">
            <!--Used to collect a password-->
        
            <button class="homebutton" type="submit">Login</button>
        </form>



        <form class="card" action="/home" method="post" name="login">
            <span>Login For Learners</span>
        
            <input type="text" name="Username" placeholder="Username" autofocus autocomplete="off">
            <!--Used to collect a username-->
        
            <input type="password" name="Password" placeholder="Password" autofocus autocomplete="off">
            <!--Used to collect a password-->
        
            <button class="homebutton" type="submit">Login</button>
        </form>

        </div>


        <div class="register">

            <p>Don't have an account?  Register now!  </p>
        
            
            <form action="/sign-in" name="register">
    
                <button class="register-button" type="submit">Register</button>
            </form>



        </div>


        <form
        class="access button"
        action="/accessibility"> <!--This is a form used to take the user to the accessibility page-->
    
            <button type="submit">Accessibility</button>

        </form>
        

        <form
        action="/classes"> <!--This is a form used to take the user to the classes/schedule page-->
    
            <button class="class-button" type="submit">Classes/Schedule</button>

        </form>

</body>



</html>
