<!DOCTYPE html>
<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Main Content Page</title>

        <link rel="stylesheet" href="/static/styles.css">

    </head>

    <body class="screen-center">

        <img src="/static/toka gym.jpg" rel="toka gym">


        <h2>ToKa Fitness is dance-like exercise where you will copy an instructor in various exercises.</h2>

        <h2>This fitness is fast-paced and encourages vigourous cardio exercises.</h2>

        <h2>ToKa fitness consits if various exercises that can help buils stamina, lose weight, and help gain muscle.</h2>

        <h2>ToKa fitness can be attened both in person, and online at home.</h2>



    </body>



    <p></p>
    <p></p>
    <p></p>

    <form
    action="/home"
    name="home"> <!--This is a form that is used to take a user back to the home page-->


    <button style="font-size: 30px;" type="submit">GO Back</button>

    </form>

    </html>