<!DOCTYPE html>
<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Main Content Page</title>

        <link rel="stylesheet" href="/static/styles.css">

    </head>

    <body class="screen-center">

        <img src="/static/toka gym.jpg" rel="toka gym">


        <h2>ToKa Fitness is dance-like exercise where you will copy an instructor in various activities.</h2>

        <h2>This fitness guarentees that you will hit your fitness goals while having fun at the same time.</h2>



    </body>



    <p></p>
    <p></p>
    <p></p>

    <form
    action="/logout"
    name="logout"> <!--This is a form that is used to log out a user, as well as clearing session variables-->


    <button style="font-size: 30px;" type="submit">Log Out</button>

    </form>

    </html>