<!DOCTYPE html>
<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Password Reset</title>

        <link rel="stylesheet" href="/static/styles.css">

    </head>


    <body class="screen-center" style="background-color: rgb(187, 187, 187);">
        
        <h1>Your Password Needs Resetting</h1>
        <h3>Please enter your username with your current password.</h3> 

        <p></p>

        <h3>Then enter your new password below.</h3>
        <h3>You will need to login with your new password after changing it.</h3>

    <form
    action="/phrasereset-learner"
    method="post"
    name="reset">
    
    <input style="font-size: 35px;" type="text" name="Username" placeholder="Username" autofocus autocomplete="off"> <!--Used to collect a username-->
    <input style="font-size: 35px;" type="password" name="Current " placeholder="Current Password" autofocus autocomplete="off"> <!--Used to collect a user's old password, to make sure they do not reset the wrong account-->

    <input style="font-size: 35px;" type="password" name="Password" placeholder="New Password" autofocus autocomplete="off"> <!--Used to collect a new password-->
    
    <!--These are used to create a space between the inputs and the submit button-->
    <p></p>
    <p></p>

    <button style="font-size: 30px;" type="submit">Update</button>

    </form>


    </body>


    <p></p>
    <p></p>
    <p></p>


</html>