<!DOCTYPE html>
<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Resources</title>

        <link rel="stylesheet" href="/static/styles.css">

    </head>


<body style="background-color: rgb(187, 187, 187);">


<div class="screen-center">

        <h1 class="heading">Resources</h1>

        <h2>Select a Subject to Search:</h2>

    <form class="card" action="/search" method="post" name="resources">

        <select autofocus name="class_type" id="class_type" class="card" style="text-align: center; font-size: 30px;"> <!--A drop-down menu for the user-->
            <option value="English">English</option>
            <option value="Maths">Maths</option>
            <option value="Physics">Physics</option>
            <option value="Chemistry">Chemistry</option>
            <option value="Biology">Biology</option>
        </select>

        <button class="goback_white" type="submit">Search</button>

    </form>

    <br>

    <form
action="/logout"
name="logout"> <!--This is a form that is used to log out a user, as well as clearing session variables-->


<button class="goback_black" type="submit">Go Back</button>

</form>

</div>

</body>

    </html>