<!DOCTYPE html>
<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Your Account</title>

        <link rel="stylesheet" href="/static/styles.css">

    </head>

    <body class="screen-center" style="background-color: rgb(187, 187, 187);">

    <i>You Do Not Own Any Badges Yet :/</i>


    <form
    action="/home-learner"
    name="back"> <!--This is used to take the user back to the home page-->

    <button class="goback_black" style="bottom: 10%; left: 47%; position: fixed;" type="submit">Go Back</button>
    
    </form>

</body>

</html>