<!DOCTYPE html>
<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Rewards Page</title>

        <link rel="stylesheet" href="/static/styles.css">

    </head>

    <body class="screen-center" style="background-color: rgb(187, 187, 187);">

    <h1 class="heading">Rewards Page</h1>

    <!--Below are the subheadings for the amout of points a learner has, claimed and unclaimed badges-->

    <div style="border: 3px solid black;top:15%; position:fixed; padding: 15px; background-color: white;">
        <p>Your Availiable Points: 27</p>
    </div>

    <div style="border: 3px solid black;top:30%; left:15%; position:fixed; padding: 15px; background-color: white;">
        <p>Your Unclaimed Badges:</p>
    </div>

    <div style="border: 3px solid black;top:30%; right:15%; position:fixed; padding: 15px; background-color: white;">
        <p>Your Claimed Badges:</p>
    </div>


    <!--Below are shown claimed and unclaimed badges-->

    <i class="error_msg" style="left: 7%;">There seems to be an issue <br>  with the unclaimed badges, sorry. :/</i>

    <i class="error_msg" style="right: 7%;">There seems to be an issue <br> with the claimed badges, sorry. :/</i>


    <form
    action="/home-learner"
    name="back"> <!--This is used to take the user back to the home page-->

    <button class="goback_black" style="bottom: 10%; left: 47%; position: fixed;" type="submit">Go Back</button>
    
    </form>

</body>

</html>