<!DOCTYPE html>
<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Online Store</title>

        <link rel="stylesheet" href="/static/styles.css">

    </head>

    <body style="background-color: rgb(187, 187, 187);">

        <form
        action="/logout"
        name="logout"> <!--This is a form that is used to log out a user, as well as clearing session variables-->
    
    
        <button style="font-size: 30px;" type="submit">Go Back</button>
    
        </form>
    

        add here


    </body>


    <p></p>
    <p></p>
    <p></p>

    <form
    action="/store"
    name="top"> <!--This is a form that is used to take a user back to the top of the page-->


    <button style="font-size: 30px;" type="submit">Back To Top Of Page</button>

    </form>

    </html>