<!DOCTYPE html>
<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Your Account</title>

        <link rel="stylesheet" href="/static/styles.css">

    </head>

    <body class="screen-center" style="background-color: rgb(187, 187, 187);">

    <h1 class="heading">Your Account</h1>
        

    <h3 style="left:20px; top:20%; position:absolute">Change Account Details</h3>

<form action="/new-learner"
    method="post"
    name="update"
    class="card"
    style="left:50px; top:30%; position:absolute;"> <!--This is a form that is used to update a user's account information-->

    <input type="hidden" name="ID" value="{{ ID }}"> <!--This is used to send the user's ID to a route that will be used to update the correct user's account information-->

    <input style="font-size: 35px;" type="text" name="Username" placeholder="New Username" autofocus autocomplete="off"> 
    <input style="font-size: 35px;" type="password" name="Password" placeholder="New Password" autofocus autocomplete="off">
    <input style="font-size: 35px;" type="password" name="Re-enter_Password" placeholder="Re-enter Password" autofocus autocomplete="off"> 
    <input style="font-size: 35px;" type="email" name="Email" placeholder="New Email" autofocus autocomplete="off"> 
    <input style="font-size: 35px;" type="text" name="Name" placeholder="New Name" autofocus autocomplete="off">

    <br>

    <button class="update" type="submit">Update</button>


    </form>


    <form
    action="/home-learner"
    name="back"> <!--This is used to take the user back to the home page-->

    <button class="goback_black" style="bottom: 20%; position: fixed;" type="submit">Go Back</button>
    
    </form>

</body>

</html>