<!DOCTYPE html>
<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Your Account</title>

        <link rel="stylesheet" href="/static/styles.css">

    </head>

    <body class="screen-center" style="background-color: rgb(187, 187, 187);">

    <h1 class="heading">{{ name }}'s Account</h1>
        

    <h3 style="left:20px; top:20%; position:absolute">Change Account Details</h3>

<form action="/update-learner"
    method="post"
    name="update"
    class="card"
    style="left:50px; top:30%; position:absolute;"> <!--This is a form that is used to update a user's account information-->

    <input type="hidden" name="ID" value="{{ ID }}"> <!--This is used to send the user's ID to a route that will be used to update the correct user's account information-->

    <input style="font-size: 35px;" type="text" name="Username" placeholder="New Username" autofocus autocomplete="off"> 
    <input style="font-size: 35px;" type="password" name="Password" placeholder="New Password" autofocus autocomplete="off">
    <input style="font-size: 35px;" type="password" name="Re-enter_Password" placeholder="Re-enter Password" autofocus autocomplete="off"> 
    <input style="font-size: 35px;" type="email" name="Email" placeholder="New Email" autofocus autocomplete="off"> 
    <input style="font-size: 35px;" type="text" name="Name" placeholder="New Name" autofocus autocomplete="off">

    <br>

    <button class="update" type="submit">Update</button>


    </form>


    <!--This is a table containing the user's upcoming classes-->

    <h3 class="heading" style="border: 3px solid black; top: 15%; padding: 10px">Your Upcoming Classes:</h3>

    <table style="top: 25%; position: fixed;">
        <tr style="background-color: black;">
            <th>Class</th>
            <th>Date and Time</th>
        </tr>

        <tr style="background-color: purple;">
            <td>Biology</td>
            <td>11:15 at 20/04/24</td>
        </tr>

        <tr style="background-color: green;">
            <td>Maths</td>
            <td>11:45 at 30/11/24</td>
        </tr>

        <tr style="background-color: purple;">
            <td>Physics</td>
            <td>11:00 at 15/02/24</td>
        </tr>

        <tr style="background-color: green;">
            <td>English</td>
            <td>Next Monday at 09:30</td>
        </tr>




    </table>


    <div style="border: 3px solid black;right: 10%; top: 25%; position: fixed; padding: 15px;">
    <p>You Have <p style="color: red;">27</p> Availiable Points</p>

    </div>


    <form
    action="/rewards"
    style="right: 7%; top: 50%; position: fixed; padding: 15px;"> <!--This is used to take the learner to the rewards page-->

    <button class="badges_btn" type="submit">View Your Badges</button>

    </form>


    <form
    action="/home-learner"
    name="back"> <!--This is used to take the user back to the home page-->

    <button class="goback_black" style="bottom: 10%; left: 47%; position: fixed;" type="submit">Go Back</button>
    
    </form>

</body>

</html>